<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/project.css">
    <title>Happy Home Animals</title>
</head>
<body>
    <!-- Include header -->
    <%- include('header'); %>

    
        <!--Start of nav bar-->
        
    <%- include('navigation'); %>
        <!--End of the nav bar-->

        <!--Start of Content section-->
      <div class="content">
        <h3>Create an account</h3>
        <br>
        <form id="createForm" action="/created" method="post">
            <fieldset>
                <legend>Please enter your information below:</legend>
                <h1>Username and Password</h1>
        <label for="nameInput">Username</label>
        <input type="text" id="nameInput" name="person" required>
        <p>(Your username should have at least 4 characters, and should be composed of only letters and/or digits)</p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" pattern="^(?=.*[a-zA-Z])(?=.*\d).{4,}$" required>
        <p>(Password must have at least 4 characters: at least 1 letter and 1 number)</p>
        <p>Already have an account? <a style="font-weight: bold; color: green;" href="/login">Login</a> </p>
        <br><br>
        <button type="submit" class="button">Create Account</button>
            </fieldset>
        </form>
    </div>
        <!--End of the Content section-->

    <!-- Include footer -->
    <%- include('footer'); %>
</body>
</html>