<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/project.css">
    <title>Happy Home Animals</title>
</head>
<body>
    <!-- Include header -->
    <%- include('header'); %>

    
        <!--Start of nav bar-->
        
    <%- include('navigation'); %>
        <!--End of the nav bar-->

        <div class="content">
            <h3>How to take care of your cat</h3>
            <!--All the tips do not come from me, credit goes to Forbes Advisor: https://www.forbes.com/advisor/ca/pet-insurance/dog-care-tips/-->
            <h4>Caring for cats</h4>
                <p class="longPara">
                    Cats are wonderful companions. Each has a unique personality – just like people!
                    Some are shy and quiet while others are outgoing and social; but no matter the personality of your cat, 
                    they always rely on you as a guardian to provide a good home with what they need to be happy. Remember, a healthy 
                    cat is a happy cat
                </p>

            
                <div class="center">
                    <img style="padding-left: 10%; padding-right: 10%; height: 60%; width: 60%;"src="https://b1157417.smushcdn.com/1157417/wp-content/uploads/white-cat-on-plaid-pillow-825x549.jpg?lossy=1&strip=1&webp=0"
                    alt="Picture of a cat in wraps">
                    <!--credited source for this image is BC SCPA: https://spca.bc.ca/faqs/cats/-->
                </div>

                <p class="longPara">
                    Here is a list of things you can do to treat your cat well:
                </p>

                <ul>
                    <li>Give them good quality food</li>
                    <li>Groom, teeth and nail trim your cat</li>
                    <li>Adapt your cat's environment depending if they are indoor or outdoor cats</li>
                    <li>Schedule annual check-ups with your vet</li>
                    <li>Have special play times with your cat</li>
                </ul>
            <!--credit to all of the information above goes to BC SCPA: https://spca.bc.ca/faqs/cats/-->
        </div>


    <!-- Include footer -->
    <%- include('footer'); %>
</body>
</html>