<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/project.css">
    <title>Happy Home Animals</title>
</head>
<body>
    <!-- Include header -->
    <%- include('header'); %>

    
        <!--Start of nav bar-->
        
    <%- include('navigation'); %>
        <!--End of the nav bar-->

        <div class="content">
            <h3>Contact us!</h3>
            <img src="https://blog.hubspot.com/hs-fs/hubfs/customer%20service%20principles_featured%20image.jpg?width=595&height=400&name=customer%20service%20principles_featured%20image.jpg" alt="contact image">
            <!--Credit for the image goes to https://blog.hubspot.com/service/customer-service-principles-->
            <h1>Feel free to contact us anytime! <br> Your comments are important to us!</h1>
            <p class="shortPara">
                Name: Jordan Yeh
                <br>
                Student ID:40283075
                <br>
                Email: Y_JORDAN@concordia.live.ca
                <br>
                LinkedIn: www.linkedin.com/in/yehjordan
            </p>
        </div>
       

    <!-- Include footer -->
    <%- include('footer'); %>
</body>
</html>