<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/project.css">
    <title>Happy Home Animals</title>
</head>
<body>
    <!-- Include header -->
    <%- include('header'); %>

    
        <!--Start of nav bar-->
        
    <%- include('navigation'); %>
        <!--End of the nav bar-->

        <div class="content">
            <h3>Privacy/Disclamer Statement</h3>
            <p class="longPara">At Happy Home Animals, we take your privacy seriously. Rest assured that any personal information
                 you provide to us will be kept confidential and will not be sold or misused in any way. We are committed to maintaining the 
                 security and integrity of your data.
                <br><br>
                Furthermore, while we strive to provide accurate and up-to-date information on our platform, we cannot guarantee the 
                accuracy or completeness of user-generated content, including but not limited to information posted by pet owners, 
                veterinarians, or other users. Users are solely responsible for the accuracy and legality of the content they submit.
                <br><br>
                By using our website, you acknowledge and agree that Happy Home Animals and its affiliates are not liable for any 
                errors, omissions, or inaccuracies in user-generated content. We encourage users to verify the information provided 
                and consult with relevant professionals before making any decisions based on such content.
                <br><br>
                If you have any concerns about privacy or the accuracy of information on our platform, please don't hesitate to 
                contact us.
                <br><br>
                Thank you for trusting Happy Home Animals.
            </p>
        </div>

    <!-- Include footer -->
    <%- include('footer'); %>
</body>
</html>