<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/project.css">
    <title>Happy Home Animals</title>
</head>
<body>
    <!-- Include header -->
    <%- include('header'); %>

    
        <!--Start of nav bar-->
        
    <%- include('navigation'); %>
        <!--End of the nav bar-->

        <div class="content">
            <h3>How to take care of your dog</h3>
            <!--All the tips do not come from me, credit goes to Forbes Advisor: https://www.forbes.com/advisor/ca/pet-insurance/dog-care-tips/-->
            <h4>Meet your dog's basic needs</h4>
                <p class="longPara">
                    As a dog owner, it’s essential to understand and meet your pet’s basic needs. Whether you’re a novice 
                    pet parent or an expert, you’ll need to set the stage for your new pup. Your dog’s basic needs will consist of 
                    nutritious food, water, treats, toys and bedding to make the pup feel right at home. <br>
                     When you bring a new dog into your home, it’s best to make a trip to the vet as soon as possible. 
                     Your vet can help you pinpoint the right type and the amount of food and other important things you need to know about 
                     caring for your new friend.
                </p>

            
                <div class="center">
                    <img style="padding-left: 10%; padding-right: 10%; height: 60%; width: 60%;"src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/advisor/ca/wp-content/uploads/2023/03/Pet_parent.jpg"
                    alt="Picture of family with a dog">
                    <!--credited source for this image is Forbes Adivsor: https://www.forbes.com/advisor/ca/pet-insurance/dog-care-tips/-->
                </div>

                <p class="longPara">
                    Here is a list of things you can do to treat your dog well:
                </p>

                <ul>
                    <li>Monitor their food comsumption</li>
                    <li>Provide sufficient water throughout the day</li>
                    <li>Regularly groom your dog</li>
                    <li>Schedule annual check-ups with your vet</li>
                    <li>Brush your dog's teeth</li>
                </ul>
            
        </div>
     

    <!-- Include footer -->
    <%- include('footer'); %>
</body>
</html>