<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/project.css">
    <title>Happy Home Animals</title>
</head>
<body>
    <!-- Include header -->
    <%- include('header'); %>

    
        <!--Start of nav bar-->
        
    <%- include('navigation'); %>
        <!--End of the nav bar-->

        <!--Start of Content section-->
        <div class="content">
            <h3>Adoption Form</h3>
            <form id="petForm" action="/findpet" method="post">
            <fieldset>

                <p class="choice">Would you like a cat or a dog?<br>
                    <label><input type="radio" id="cat" value="cat" name="AnimalChoice">Cat</label>
                    <label><input type="radio" id="dog" value="dog" name="AnimalChoice">Dog</label>
                </p>

                <p class="choice">Which breed would you like?<br>
                 <select name="breed" id="breed">
                    <optgroup label="Cat Breeds">
                        <option value="Siamese">Siamese</option>
                        <option value="Tonkinese">Tonkinese</option>
                        <option value="Sphynx">Sphynx</option>
                    </optgroup>
                    <optgroup label="Dog Breeds">
                        <option value="Dachshund">Dachshund</option>
                        <option value="Chihuahua">Chihuahua</option>
                        <option value="Golden Retriever">Golden Retriever</option>
                    </optgroup>
                 </select>
                </p>

                <p class="choice">What age would you like your pet to be?<br>
                    <select name="Age" id="ageRange">
                        <optgroup label="Select age range">
                            <option value="0-5">0-5</option>
                            <option value="5-10">5-10</option>
                            <option value="10-15">10-15</option>
                        </optgroup>
                    </select>
                </p>
                
                <p class="choice">What gender would you want your pet to be?<br>
                    <label><input type="radio" id="Male" name="gender" value="Male">Male</label>
                    <label><input type="radio" id="Female" name="gender" value="Female">Female</label>
                </p>

                <p class="choice">What kind of behaviour would you like your pet to have?<br>
                    <label><input type="checkbox" name="behaviour" id="goodChild" value="goodChild">Gets along with children</label>
                    <label><input type="checkbox" name="behaviour" id="goodDog" value="goodDog">Gets along with other dogs</label>
                    <label><input type="checkbox" name="behaviour" id="goodCat" value="goodCat">Gets along with other cats</label>
                </p>

            </fieldset>

            <p>Thank you for adopting and giving a new and nice home to an animal!</p>
            <input type="reset">
            <input type="submit" onclick="findPet(event)">
        </form>

        <!--End of the Content section-->

    <!-- Include footer -->
    <%- include('footer'); %>
</body>
</html>