<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" href="/project.css">
       <title>Happy Home Animals</title>
    </head>
    <body>
        <div class="footerr">
            <a href="/disclamer">Privacy/Disclamer Statement</a>
        </div>
    </body>
</html>