<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" href="/project.css">
       <title>Happy Home Animals</title>
    </head>

    <body>
        <!--Start of the header-->
        <div class="headerr">
            <table style="margin-right: auto; margin-left: auto;">
                <tr>
                    <th>Happy Home Animals</th>
                    <td> 
                        <a href="/">
                        <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/11072/dog-cat-animal-clipart-md.png"
                             alt="Logo of adoption shop"
                             style="width: 300px; height: 100px;">
                        </a>
                        <!--credit for image goes to: https://creazilla.com/nodes/11072-dog-and-cat-clipart -->
                        <br>
                        <p id="date"></p>
                    </td>
                </tr>
            </table>
        </div>
        <script src="/project.js"></script>
    </body>
</html>