<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/project.css">
    <title>Happy Home Animals</title>
</head>
<body>
    <!-- Include header -->
    <%- include('header'); %>

    
        <!--Start of nav bar-->
        
    <%- include('navigation'); %>
        <!--End of the nav bar-->

        <!--Start of Content section-->
        <div class="content">
            <h2>THANK YOU FOR CARING ABOUT ANIMALS</h2>
            <div class="center">
                <img style="padding-left: 10%; padding-right: 10%; height: 60%; width: 60%;" src="https://thumbor.forbes.com/thumbor/fit-in/1290x/https://www.forbes.com/advisor/wp-content/uploads/2023/07/top-20-small-dog-breeds.jpeg.jpg"
                 alt="Picture of a dog">
                 <!--Credit of the image goes to https://www.forbes.com/advisor/pet-insurance/pet-care/smallest-dog-breeds/-->
            </div>
            <p class="longPara">
                To all the caring souls who take the time to nurture and cherish our furry friends, we extend our heartfelt gratitude.
                Your dedication to the well-being of pets is truly commendable. Whether it's providing nourishing meals, cozy beds, 
                stimulating playtime, or regular trips to the vet, your love and attention make all the difference in their lives.
                Thank you for opening your hearts and homes to these beloved companions. Your kindness and compassion create a world where animals
                 thrive and flourish. Every wag of a tail or purr of contentment is a testament to the love and care you shower upon them. 
                 Your efforts not only bring joy to your pets but also inspire others to follow in your footsteps.
            </p>

            <h3>About Us</h3>

            <p class="longPara">
                At Happy Home Animals, we're on a mission to unite deserving pets with loving families and create lasting bonds 
                that will stand the test of time. Step into our sanctuary, where wagging tails, gentle purrs, and hopeful 
                eyes await your arrival. Every pet that comes through our doors receives the love, attention, and care they deserve. 
                From the moment they enter our center to the day they find their forever homes, we prioritize their well-being above all else.
            </p>
        </div>
        <!--End of the Content section-->

    <!-- Include footer -->
    <%- include('footer'); %>
</body>
</html>